.table th {
 }
.responses {
  color: green;
  }
.new_responses {
  color: red;
}
.views {
  color: #75B1C2;
}
.status_active {
  background: #DCF9D8;
}
.status_hidden {
  background: #c9c9c9;
  color:#808080;
  background: #D2D7D1;
}
.status_archived {
  background: #EFEAE1;
}
.status {
  font-family: Arial;
	font-style: italic;
  background-color: #FEFFC2;
}
.inbox {
  background-color: #D3F3F8;
}
.invited{
  background-color: #ADEFA9;
}
.discarded{
  background-color: #F8C3C5;
}
.hold{
  background-color: #F5F8C3;
}
#myTable{
}
.menu {
  font-size: 16px;
  margin-right: 20px;
}
.menu li{
  border-bottom: solid 1px #eee;
}
.menu a{
  color: #333;
}
.sub-header {
  color:green;
}
.resume-name {
  color:#222;
}
.message-container {
  text-indent: 1.5em;
  width: 600px;
  border: solid #eee 1px;
  border-radius: 10px;
  padding: 10px;
  color:#444;
}
.navbar {
background-color: #222;
z-index: 9999;
}
.select-bar {
  position:fixed;
  background-color: white;
  width:100%;
  margin-top:-20px;
  z-index: 999;
}

.myContent {
  margin: 70px 70px 70px 90px;
}
.selectpicker{
}
.table-padding {
  padding-top: 120px;
}
table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}