.table th {
  background: #D4EDF2;
}
.responses {
  color: green;
}
.new_responses {
  color: red;
}
.views {
  color: blue;
}
.actived {
  background: #D9F3BE;
}
.hidden {
  background: #D2D7D1;
}
.archived {
  background: #F2EAD4;
}
.status {
  font-family: Arial;
	font-style: italic;
  background-color: #FEFFC2;
}
#myTable{
}

table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}
