.table th {
  background: #D4EDF2;
}
.responses {
  color: green;
}
.new_responses {
  color: red;
}
.views {
  color: blue;
}
.status_active {
  background: #DCF9D8;
}
.status_hidden {
  background: #c9c9c9;
  color:#808080;
  background: #D2D7D1;
}
.status_archived {
  background: #EFEAE1;
}
.status {
  font-family: Arial;
	font-style: italic;
  background-color: #FEFFC2;
}
#myTable{
}

table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}
