.table th {
  background: #D4EDF2;
}
.responses {
  color: green;
}
.new_responses {
  color: red;
  font-weight: bold;
}
.views {
  color: blue;
}
.actived {
  background: #A6D8A8;
}
.hidden {
  background: #D2D7D1;
}
.archived {
  background: #F2EAD4;
}
